.Comments {
  margin-top: 100px;

  &-slide {
    margin-top: 30px;
    background-color: #fff;
    padding: 15px 16px;
  }

  &-text1 {
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    color: $black-color;
  }

  &-image {  
    max-width: 30px;
    margin-bottom: 5px;
  }

  &-hero {
    display: flex;
    justify-content: space-between;
  }

  &-heros {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}