.Footer {
  margin-top: 100px;
  margin-bottom: 30px;

  &-card {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &-logo {
    display: flex;
    align-items: center;
    gap: 10px;

  }

  &-text {
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
    
    a {
      color: $black-color;
      text-decoration: none;
    }
  }

  &-menu {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  &-text1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;

    margin-bottom: 14px;

    color: $black-color;
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    a {
      text-decoration: none;
      color: #AFADB5;
      font-weight: 500;
      font-size: 14px;
      overflow: hidden;

      &:hover {
        text-decoration: underline;
        background-color: #E3E3E3;
      }

    }
  }
}