.Header {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  
  .Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {
    display: flex;
    align-items: center;
    gap: 10px;

  }

  &-text {
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
    
    a {
      color: $black-color;
      text-decoration: none;
    }
  }

  &-menu {
    
    a {
      width: 100%;
      font-size: 20px;
      font-weight: 500;
      // border-bottom: 3px solid #000;

      text-transform: capitalize;
      text-decoration: none;
      color: $black-color;

      transition: .6s;

      &:hover {
        border-bottom: 3px solid $yellow-color;
        color: $yellow-color;
        transition: .50s;
      }
    }
  }
  #label {
    display: none;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 110px;
    right: 0px;
    background-color: #518581;
    z-index: 9999;
    overflow-y: hidden;

  }

  &-icon {
    display: none;
  }

  #nav.active #label {
    display: flex;
    flex-direction: column;
    padding-top: 90px;
    gap: 70px;

    height: calc(100vh - 70px);
    
  }

  #btn-mobile {
    display: flex;
    padding: 5px 10px;
    font-size: 18px;
    border: none;
    background: none;
    cursor: pointer;
    gap: 10px;
  }

  #hamburguer {
    display: block;
    width: 20px;
    border-top: 2px solid;
    color: $black-color;

    &::after,
    &::before
     {
      content: "";
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition: .3s;
      position: relative;
    }
  }

  #nav.active #hamburguer {
    border-top-color: transparent;

    &::before {
      transform: rotate(135deg);
    }

    &::after {
      transform: rotate(-135deg);
      top: -7px;
    }
  }

  @media (min-width: 750px) {

    &-icon {
      display: block;
    }

    #btn-mobile {
      display: none;
      padding: 10px;
    }

    #label {
      display: flex;
      align-items: center;
      gap: 30px;
      position: relative;
      top: 0px;
      background-color: #f3f3f3;

      a {
        font-size: 18px;
        font-weight: normal;
      }
    }
  }
}