.Home {
  margin-top: 50px;

  &-content {
    margin-bottom: 30px;
  }

  &-text {
    font-weight: 700;
    font-size: 26px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }

  &-search {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 10px 4px;
    

    form {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      
    }
  }

  &-btn {
    padding: 10px 20px;

    border: none;
    background-color: $blue-color;

    a {
      text-decoration: none;
      color: #fff;
      font-weight: 700;
      font-size: 14px;
    }
  }

  input {
    border: none;
    padding: 5px 4px;
    color: $grey-color;
    overflow: hidden;

    &:after {
      border: none;
    }
  }


  @media (min-width: 500px) {

    .Home {
      &-text {
        font-weight: 700;
        line-height: 130%;
        width: 330px;
        margin: 0 auto;
        margin-bottom: 20px;
      }

      &-text1 {
        width: 350px;
        margin: 0 auto;
      }

      &-search {
        width: 350px;
        margin: 0 auto;
        position: relative;
        top: 30px;
      }
    }
  }

}