@import './components/Reset.scss';
@import './components/Variables.scss';

@import './components/Header.scss';
@import './components/Home.scss';
@import './components/Services.scss';
@import './components/Produtc.scss';
@import './components/Craft.scss';
@import './components/Comments.scss';
@import './components/Article.scss';
@import './components/Especial.scss';
@import './components/Backtotop.scss';

@import './components/Footer.scss';

